site_name: Lucas Soares
repo_url: https://github.com/EnkrateiaLucca/lucas-landing-page.git
# site_url: https://lbns.co

nav:
  - Home: index.md
  - Writing:
    - blog/index.md
  - Courses:
    - courses/index.md



plugins:
  - blog:
      post_date_format: medium
      post_url_date_format: yyyy/MM/dd
      archive_date_format: YYYY
      archive_url_date_format: YYYY
      post_excerpt: required
      archive: true
      categories: true
      pagination: true
  - search      

extra_css:
  - style.css

theme:
  name: material
  nav_style: dark
  palette:
    primary: black
  user_color_mode_toggle: true
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - toc.integrate
    - search.suggest
    - search.highlight

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde